version: "3.9"

services:
  frontend:
    build: ./frontend/react-app
    
    ports:
      - "5173:80"
    depends_on:
      - backend
  
  backend: 
    build: ./backend
    
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    env_file:
      - ./backend/.env
  
  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: