version: "3.8"

services:
  frontend:
    build: ./frontend/react-app
    container_name: frontend_container
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped

  backend:
    build: ./backend
    container_name: backend_container
    env_file: ./backend/.env
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    networks:
      - app-network
    restart: unless-stopped
    
  mongo:
    image: mongo:7
    container_name: mongoDB_container
    ports: 
      - "27017:27017"
    restart: always
    command: ["--bind_ip_all"]
    networks:
      - app-network
    volumes:
      - mongo-data:/data/db
volumes:
  mongo-data:

networks:
  app-network:
    driver: bridge

